{% extends "base.html" %}

{% block content %}
<div class="container-sm p-3 my-3 border border-info rounded text text-light d-flex justify-content-center flex-grow-1">
    <h1>Наша компания энтузиастов</h1>
</div>
    <div class="container-sm p-3 my-3 border border-info rounded text text-light">
        <h3>Компании Rentai</h3>

        <p>Rentai — это небольшая, но амбициозная инди-студия, специализирующаяся на создании визуальных новелл и rpg-игр. Компания была основана двумя талантливыми разработчиками, TheKostter и Sekrel, которые объединили свои усилия, чтобы создавать уникальные и захватывающие проекты в жанре rpg-игр.</p>
        
        <p>Основные особенности Rentai:</p>
        
        <p>Уникальный стиль: TheKostter и Sekrel уделяют особое внимание проработке визуальной составляющей, создавая запоминающиеся персонажи и атмосферным локациям.</p>
        
        <p>Увлекательные сюжеты: Игры Rentai отличаются глубокими и эмоциональными историями, которые сочетают в себе романтику, драму и проработанную визуальную составляющую.</p>
        
        <p>Индивидуальный подход: Благодаря небольшой команде, Rentai может сосредоточиться на качестве каждого проекта, учитывая пожелания и отзывы своей аудитории.</p>

        <p>Команда:
            <ul>
                <li>TheKostter: Художник и сценарист, который создает уникальные визуальные образы и пишет захватывающие сюжеты. Его работы отличаются ярким стилем и эмоциональной глубиной.</li>
                <li>Sekrel: Отвечает за разработку игрового движка, программирование и техническую часть проектов. Его внимание к деталям и любовь к инновациям делают игры Rentai технически продвинутыми.</li> 
            </ul>
        </p>
        <p>Миссия компании:</p>
        <p>Rentai стремится создавать игры, которые не только развлекают, но и оставляют яркие впечатления у игроков. Команда верит в то, что rpg-игры могут быть не просто гринд контентом, но и искусством, способным рассказывать истории и вызывать эмоции.</p>
        
        <p>Планы на будущее:</p>
        <p>Rentai активно развивается, планируя выпускать новые проекты и расширять свою аудиторию. TheKostter и Sekrel мечтают о том, чтобы их игры стали узнаваемыми в индустрии, а их студия — символом качества и креативности.</p>
        
        <p>Если вы цените качественные rpg с глубокими сюжетами и красивой графикой, то Rentai — это студия, за которой стоит следить!</p> 
    </div>
{% endblock %}


