{% extends "base.html" %}

{% block content %}
    <div class="container-xl p-3 my-3 border">
        <ul>
            <p>Компании Rentai</p>

            <p>Rentai — это небольшая, но амбициозная инди-студия, специализирующаяся на создании визуальных новелл и хентай-игр. Компания была основана двумя талантливыми разработчиками, TheKostter и Sekrel, которые объединили свои усилия, чтобы создавать уникальные и захватывающие проекты в жанре взрослых игр.</p>
        
            <p>Основные особенности Rentai:</p>
        
            <p>Уникальный стиль: TheKostter и Sekrel уделяют особое внимание проработке визуальной составляющей, создавая запоминающиеся персонажи и атмосферные сцены.</p>
        
            <p>Увлекательные сюжеты: Игры Rentai отличаются глубокими и эмоциональными историями, которые сочетают в себе романтику, драму и эротику.</p>
        
            <p>Индивидуальный подход: Благодаря небольшой команде, Rentai может сосредоточиться на качестве каждого проекта, учитывая пожелания и отзывы своей аудитории.</p>
        
            <ul>
                <li>Команда:</li>
                <li>TheKostter: Отвечает за разработку игрового движка, программирование и техническую часть проектов. Его внимание к деталям и любовь к инновациям делают игры Rentai технически продвинутыми.</li>
                <li>Sekrel: Художник и сценарист, который создает уникальные визуальные образы и пишет захватывающие сюжеты. Его работы отличаются ярким стилем и эмоциональной глубиной.</li>
            </ul>
            <p>Миссия компании:</p>
            <p>Rentai стремится создавать игры, которые не только развлекают, но и оставляют яркие впечатления у игроков. Команда верит в то, что хентай-игры могут быть не просто взрослым контентом, но и искусством, способным рассказывать истории и вызывать эмоции.</p>
        
            <p>Планы на будущее:</p>
            <p>Rentai активно развивается, планируя выпускать новые проекты и расширять свою аудиторию. TheKostter и Sekrel мечтают о том, чтобы их игры стали узнаваемыми в индустрии, а их студия — символом качества и креативности.</p>
        
            <p>Если вы цените качественные визуальные новеллы с глубокими сюжетами и красивой графикой, то Rentai — это студия, за которой стоит следить!</p> 
        </ul>
    </div>
{% endblock %}


