@font-face {
font-family: 'MyCustomFont';
  src: url('../fonts/ShantellSans[BNCE\,INFM\,SPAC\,ital\,wght].woff2') 
  format('truetype'); 
}


header {
  background-color: #2b0098;
  /* background-color: #e65183; */

color: #eeb4ae;

display: flex;

justify-content: space-between;

align-items: center;

padding: 10px 20px;
            }
            body, h1, h2, p, ul, li {

margin: 0;

padding: 0;

}
nav ul {

list-style: none;

display: flex;

}

nav ul li {

margin-right: 20px;

}

nav ul li:last-child {

margin-right: 0;

}

nav ul li a {

color: #eeb4ae;

text-decoration: none;

}
.social a {

color: #fff;

text-decoration: none;

}

body {
  font-family: 'MyCustomFont', sans-serif;
    /* height */
    background-image: url(../images/vertbackground.png);
    /* background-image: url(../images/backgroundgrad.png); */
    background-size:cover;
    background-repeat: no-repeat
    /* background-image: url(../images/background.jpg); */
  }

