<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'companysite/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">     
    <link type="text/css" href="{% static 'companysite/css/styles.css' %}" rel="stylesheet">     
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'companysite/images/handshakege.png' %}" alt="Avatar Logo" style="width:40px;"> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar"> 
        <div class="general_list d-flex justify-content-center flex-grow-1 text-light">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" href="/games">Наши проекты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new">Новости</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">О нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/creation">Творчиство по играм</a>
            </li>
          </ul>
        </div>
        <div class="social d-flex justify-content-end gap-1">
          <a href="https://discord.com/Rentai" class="social-link discord"><img src="{% static 'companysite/images/discord.ico' %}" alt="Стим" width="50" height="50"></a>
          <a href="https://vk.com/Rentai" class="social-link vk"><img src="{% static 'companysite/images/vk.png' %}" alt="ВК" width="50" height="50"></a>
          <a href="https://steam.com/Rentai" class="social-link steam"><img src="{% static 'companysite/images/steam.png' %}" alt="Дискорд" width="50" height="50"></a>
        </div>
      </div>
    </div>
  </nav>   
    {% block content %}
    {% endblock %}
    <script src="{% static 'companysite/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>


