{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'companysite/css/styles.css' %}" rel="stylesheet">     
</head>

<body>
    <header>
        <a href="new" class="social-link steam"> <img src="{% static 'companysite/images/handshakege.png' %}" alt="Логотип" width="50" height="50"></a>
        <nav>
            <ul>
                <li><a href="games">Наши проекты</a></li>
                <li><a href="new">Новости</a></li>
                <li><a href="about">О нас</a></li>
                <li><a href="#">Творчиство по играм</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="https://steam.com/Rentai" class="social-link steam"><img src="{% static 'companysite/images/discord.ico' %}" alt="Стим" width="50" height="50"></a>
            <a href="https://vk.com/Rentai" class="social-link vk"><img src="{% static 'companysite/images/vk.png' %}" alt="ВК" width="50" height="50"></a>
            <a href="https://discord.com/Rentai" class="social-link discord"><img src="{% static 'companysite/images/steam.png' %}" alt="Дискорд" width="50" height="50"></a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>